---
---

@import 'foundation';
@include foundation-everything;

@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy|Chewy);

@mixin centerer {
  position: relative;
	top: 50%;	
	transform:translateY(75%);
}
*{
	.row.full {
		max-width: 100%;
		}

	.sidebar {
		display: block;
		background-color: #34495e;
		h1 {
			color: $cool-blue;
			text-transform: uppercase;
			font-weight: 800;
		}
		h2 {
			font-weight: 300;
			color: $cool-blue;
		}
	}
	.nav{ 
		display: inline-block;
		}
	.middle-header {
		text-align: center;
	}
	.nav{ 
		background-color: #34495e;
		color: #fff;
		position: fixed;
		top: 0;
		}
	.footer {
			display: inline-block;
			background-color: #34495e;
			color: $cool-blue;
			position: fixed;
			bottom:0;
	}


	h1 {
		font-family: 'Luckiest Guy', cursive;
	}
	h2{
		font-family: 'Luckiest Guy', cursive;
	}
	h3{
		font-family: 'Luckiest Guy', cursive;
	}
	h4{
		font-family: 'Luckiest Guy', cursive;
	}
	h5{
		font-family: 'Chewy', cursive;
	}
	h6{
		font-family: 'Chewy', cursive;
	}
	font-family: 'Chewy', cursive;
}


@include breakpoint(medium) {
	.sidebar {
	position: fixed;
	background-color: #34495e;
	top: 0;
	bottom: 0;
		h1 {
			color: $cool-blue;
			text-transform: uppercase;
			font-weight: 800;
		}
		h2 {
			font-weight: 300;
			color: $cool-blue;
		}
	}
	
		
	.middle-header {
  	text-align: right;
		top{
			@include centerer;
		}
		bottom{
		@include centerer;
		}
	}

	.content {	
		display: block;
		margin: 0 auto;
		padding-top: 65px;
		padding-bottom: 65px;
		padding-left: 5px;
	}

	img.author{
		width: 45px;
	}
	
	img.logo{
		width:500px;
	}
}

@include breakpoint(small only) {
	.sidebar {		
		padding-top: 65px;
	}
	img.logo {
		width: 400px;
	}
	img.author{
		width: 25px;
	}
	.content {	
		display: block;
		padding-top:10px;
		padding-bottom:70px;
	}
	.top-bar-left {
		display: none;
	}
}

//Font Styling
@include breakpoint(large only) {
	h1 {
	}
	h2{
	}
}

@include breakpoint(medium only){

}
@include breakpoint(small only){

}