<header>
  <nav class="top-bar">
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle></button>
		<div class="title-bar-title">Menu</div>
	</div>

	<div class="top-bar" id="main-menu">
		<div class="top-bar-right">
			<ul class="dropdown menu" data-dropdown-menu>
			<li class="menu-text"> {% unless page.url != site.baseurl %}<a href="/">< Back</a>{% endunless %}</li>
			</ul>
		</div>
		<div class="top-bar-right" align="left">
			  
		</div>
	</div>
  </nav>
</header>
